{% extends 'base.html' %}

{% block content %}
    <h1>Python dla początkujących</h1>

    <p>Wybierz jedną z lekcji:</p>
    <ol>
      <li><a href="{% url 'podstawy' %}">Podstawy</a></li>
      <li><a href="{% url 'ins_warun' %}">Instrukcje warunkowe</a></li>
      <li><a href="{% url 'petle' %}">Pętle</a></li>
      <li><a href="{% url 'pseudolos' %}">Liczby pseudolosowe</a></li>
      <li><a href="{% url 'listy' %}">Listy</a></li>
      <li><a href="{% url 'slowniki' %}">Słowniki</a></li>
      <li><a href="{% url 'lancuch' %}">Łańcuchy znaków</a></li>
      <li><a href="{% url 'funkcje' %}">Funkcje</a></li>
      <li><a href="{% url 'klasy' %}">Klasy</a></li>
    </ol>
{% endblock %}
